.sidebar{
    margin-top: 10vh;
    pointer-events: all;
    font-size: 17px;
    font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 
        'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    background-color: transparent !important;
    width: 13vw;
    height: 90vh;
    position: fixed;
    transition: 0.5s ease-in-out;
}

.sidebar a{
    display: flex;
    align-items: center !important;
    justify-content: center!important;
    margin: 15px 0px;
    border-radius: 10px;
    width: 69%;
    height: 4.5%;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0 0 25px 3px black, 0 0 15px 1px rgb(66, 66, 66) inset;
    transition: 0.5s;
}

.sidebar a:hover{
    box-shadow: 0 0 25px 3px white, 0 0 15px 1px rgb(255, 255, 255) inset;
}

.sidebar a:active{
    box-shadow: 0 0 40px 5px white, 0 0 15px 1px rgb(255, 255, 255) inset;
}

.sidebar button{
    background-color: hsl(39, 100%, 72%);
    font-size: 18px;
    font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    color: black;
    display: flex;
    align-items: center!important;
    justify-content: center!important;
    margin: 20px 0px;
    border-radius: 10px;
    width: 69%;
    height: 5%;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0 0 25px 3px black, 0 0 15px 1px rgb(66, 66, 66) inset;
    transition: 0.5s;
}

.sidebar button:hover{
    box-shadow: 0 0 25px 3px white, 0 0 15px 1px rgb(255, 255, 255) inset;
    color:white;
    background-color: hsl(0, 100%, 44%);
}

.sidebar button:active{
    box-shadow: 0 0 40px 5px white, 0 0 15px 1px rgb(255, 255, 255) inset;
    color:white;
    background-color: hsl(0, 100%, 44%);
}

/* Logout Confirmation window */
.bg{
    opacity: 0;
    pointer-events: all;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px) contrast(1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.5s ease-in-out;
}

.bg.active{
    opacity: 1;
}

.logoutWindow{
    scale: 0;
    background-color: black;
    border-radius: 30px;
    border: wheat solid;
    width: 40vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 15px 3px wheat, 0 0 15px 2px wheat inset;
    z-index: 1001;
    transition: 0.5s ease-in-out
}

.logoutWindow div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logoutWindow.active{
    scale: 1;
    transition: scale 0.5s ease-in-out;
}

.logoutWindow section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.logoutWindow .yesBtn,
.logoutWindow .noBtn {
    font-size: 18px;
    font-family: Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    margin: 0 15px;
    width: 5vw;
    height: 3.5vh;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0 0 25px 3px white, 0 0 15px 1px rgb(255, 255, 255) inset;
    transition: 0.5s;
}

.logoutWindow .yesBtn:hover{
    box-shadow: 0 0 40px 3px white, 0 0 15px 1px rgb(255, 255, 255) inset;
    color:black;
    background-color: rgb(255, 166, 0);
}

.logoutWindow .noBtn:hover{
    box-shadow: 0 0 40px 3px white, 0 0 15px 1px rgb(255, 255, 255) inset;
    color: black;
    background-color: whitesmoke;
}


.dataContainer,
.goalContainer,
.scheduleContainer{
    scale: 0;
    background-color: black;
    border-radius: 30px;
    border: wheat solid;
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 15px 3px wheat, 0 0 15px 2px wheat inset;
    z-index: 1001;
    transition: scale 0.5s ease-in-out
}

.dataContainer.active,
.goalContainer.active,
.scheduleContainer.active{
    scale: 1;
    transition: scale 0.5s ease-in-out;
}

